{
  "extends": [
    "./.eslint.typescript.js",
    "plugin:shopify/jest",
    "plugin:shopify/prettier"
  ],
  "rules": {
    "no-empty-pattern": "off"
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx"],
      "rules": {
        "shopify/jsx-no-hardcoded-content": "off"
      }
    }
  ]
}
